.ContactForm {
    background-color: #fff;
    position: absolute;
    font-family: "OpenSansRegular", Arial, sans-serif;
    font-size: 16px;
    color: #8e8071;
    line-height: 2;
    color: #8e8071;
    bottom: 0px;
    right: 0px;
    height: 460px;
    width: 370px;
    border-radius: 5px;
}

.ContactFormForm {
    width: 100%;
    height: 372px;
    background-color: #ffffff;
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}

.ContactFormSend{
    width: 100%;
    height: 88px;
    background-color: #f8f3f0;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
}
input {
    height: 1.2em;
}
input[name="q"] {
    padding-right:1.8em;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e5d4c2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
input[type="image"] {
    left: 300px;
    top: 61px;
    position: absolute;
    vertical-align: middle;
    width: 33px;
    height: 33px;
}
button[value="Hello@me.com"]{
    position: absolute;
    top: 61px;
    left: 35px;
    width: 123px;
    height: 35px;
    background-color: #5e90af;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px  solid #5e90af;
    color: #ffffff;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
button[value="Andy@me.com"]{
    position: absolute;
    top: 61px;
    left: 163px;
    width: 118px;
    height: 35px;
    background-color: #4daf7b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px  solid #4daf7b;
    color: #ffffff;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.ContactFormFormSubject{
    height: 48px;
    color: #897765;
    margin-bottom: 12px;
    font-size: 14px;
}
.ContactFormFormMessage{
    color: rgba(137, 119, 101, 0.7);
    height: 108px;
    font-size: 14px;
}
.ContactFormTextWrite{
    font-size: 14px;
    border: 1px solid #e5d4c2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100%;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
}

.ContactFormSendSave{
    margin-top: 33px;
    margin-left: 30px;
    cursor: pointer;
}
.ContactFormSendSaveText{
    cursor: pointer;
}
.ContactFormSendButton{
    float: right;
    width: 140px;
    height: 44px;
    border: 2px outset #e6603c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 20px;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 30px;
    cursor: pointer;
    background: url("../img/ContactFormEllipse.png") no-repeat 15px center;
    background: url("../img/ContactFormShape.png") no-repeat 20px center;
    background-color: #e6603c;

}