/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../font/OpenSansBold/OpenSansBold.eot");
    src: url("../font/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../font/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../font/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../font/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../font/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../font/OpenSansRegular/OpenSansRegular.eot");
    src: url("../font/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../font/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../font/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.Menu, .BlogPost, .Graphic, .Statistics, .ProfileContainer, .ContactForm .NavigationMenu {
    box-shadow: 0 0 12px #ab8b6e;
    -moz-box-shadow: 0 0 12px #ab8b6e;
    -webkit-box-shadow: 0 0 12px #ab8b6e;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
}

.SelectionWidgets {
    position: relative;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    height: 1248px;
    width: 1227px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.MenuGraphicStatisticsProfileNavigation {
    position: absolute;
    top: 251px;
    left: 93px;
    height: 891px;
    width: 631px;
    border-radius: 5px;
}
.BlogPostContactForm {
    position: absolute;
    top: 251px;
    right: 93px;
    height: 891px;
    width: 370px;
    border-radius: 5px;
}

.GraphicProfile {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 785px;
    width: 283px;
    border-radius: 5px;
}

.StatisticsNavigation {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 785px;
    width: 308px;
    border-radius: 5px;
}

