
.NavigationRibbons {
    width: 304px;
    height: 172px;
    bottom: 0px;
    left:   0px;
    position: absolute;
    border-radius: 5px;
    background: transparent;
    box-sizing: border-box;
    font-family: "OpenSansBold", Arial, sans-serif;
}

.NavigationMenu {
    position: relative;
    width: 304px;
    top: 0px;
    background-color: #fff;
    box-shadow: 0 0 12px #ab8b6e;
    -moz-box-shadow: 0 0 12px #ab8b6e;
    -webkit-box-shadow: 0 0 12px #ab8b6e;
}
.NavigationMenuMyProfile {
    position: absolute;
    width: 175px;
    height: 65px;
    top: 0px;
    left: 0px;
    font-size: 15px;
    color: #8e8071;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #fff;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 12px #ab8b6e;
    -moz-box-shadow: 0 0 12px #ab8b6e;
    -webkit-box-shadow: 0 0 12px #ab8b6e;
}

.NavigationMenuMyProfileHead {
    border-bottom: solid 3px #4daf7b;
}

.NavigationMenuMyProfile:hover {
    width: 175px;
    height: 174px;
    border-bottom: none;
    background-color: #f8f3f0;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

.NavigationMenuMyProfile a:first-child {
    display: block;
    position: relative;
    width: 175px;
    height: 65px;
    top: 0px;
    left: 0px;
    padding-left: 60px;
    padding-top: 26px;
    background-image: url('../img/NavigationRibbonsSpritesheetIco.png');
    background-position:  -454px -130px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
}

.NavigationMenuMyProfile a:nth-child(2) {
    display: block;
    position: relative;
    width: 175px;
    height: 36px;
    font-size: 13px;
    padding-left: 25px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
}

.NavigationMenuMyProfile a:nth-child(2):hover {
    background-color: #f8f3f0;
}

.NavigationMenuMyProfile a:nth-child(3) {
    display: block;
    position: relative;
    width: 175px;
    height: 36px;
    font-size: 13px;
    padding-left: 25px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
}
.NavigationMenuMyProfile a:nth-child(3):hover {
     border-left: solid 3px #4daf7b;
     padding-left: 22px;
     background-color: #f8f3f0;
 }

.NavigationMenuMyProfile a:nth-child(4) {
     display: block;
     position: relative;
     width: 175px;
     height: 36px;
     font-size: 13px;
     padding-left: 25px;
     line-height: 36px;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     border-bottom-left-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     -webkit-border-bottom-right-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     background-color: #fff;
 }

.NavigationMenuMyProfile a:nth-child(4):hover {
    background-color: #f8f3f0;
}

.NavigationMenuMyEdit {
    position: absolute;
    width: 126px;
    height: 65px;
    top: 0px;
    left: 175px;
    font-size: 15px;
    padding-left: 60px;
    padding-top: 26px;
    color: #8e8071;
    font-weight: normal;
    text-transform: uppercase;
    background-image: url('../img/NavigationRibbonsSpritesheetIco.png');
    background-position: -128px -128px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    cursor: pointer;
}

.NavigationMenuMyEdit:hover {
    background-color: #f8f3f0;
}

.NavigationRibbonsSquare {
    position: absolute;
    background-color: #fff;
    width: 67px;
    height: 72px;
    left: 224px;
    top: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 12px #ab8b6e;
    -webkit-box-shadow: 0 0 12px #ab8b6e;
    -moz-box-shadow: 0 0 12px #ab8b6e;


}
.NavigationRibbonsSquareFlag {
    position: absolute;
    background: url("../img/NavigationRibbonsSaleFlagGreen.png") no-repeat;
    background-position: right center;
    left: 224px;
    top: 100px;
    width: 71px;
    height: 72px;
    z-index:1;
    -webkit-animation: Sale 1s linear infinite alternate;
    -o-animation: Sale 1s linear infinite alternate;
    -moz-animation: Sale 1s linear infinite alternate;
}

@-webkit-keyframes Sale {
    0% {
        background: url("../img/NavigationRibbonsSaleFlagGreen.png") no-repeat;
        background-position: right center;
     }
    100%{
        background: url("../img/NavigationRibbonsSaleFlagRed.png") no-repeat;
        background-position: right center;
    }
}
@-o-keyframes Sale {
    0% {
        background: url("../img/NavigationRibbonsSaleFlagGreen.png") no-repeat;
        background-position: right center;
    }
    100%{
        background: url("../img/NavigationRibbonsSaleFlagRed.png") no-repeat;
        background-position: right center;
    }
}
@-moz-keyframes Sale {
    0% {
        background: url("../img/NavigationRibbonsSaleFlagGreen.png") no-repeat;
        background-position: right center;
    }
    100%{
        background: url("../img/NavigationRibbonsSaleFlagRed.png") no-repeat;
        background-position: right center;
    }
}

.NavigationRibbonsSquareTextSale,
.NavigationRibbonsSquareTextValue {
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    width: 60px;
    height: 70px;
}

.NavigationRibbonsSquareTextSale {
    display: block;
    color: #c2f3de;
    font-size: 13px;
    left: 25px;
    top: 25px;
}

.NavigationRibbonsSquareTextValue {
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    left: 11px;
    top: 37px;
    position: absolute;
}

